@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap');

body {
* {
  font-family: 'Arial', sans-serif;
  font-size:20px;
  font:bold;
}
}


@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}